.Footer {
  margin-bottom: $marginXXL;
}

.Footer-column {
  padding: 0 $marginM;
}

.Footer-columnHeaderLabel {
  text-transform: uppercase;
  color: $zorba;
  font-weight: normal;
}

.Footer-list {
  margin-top: $baseLineHeight;
}

.Footer-smallLabel {
  font-size: rem(12px);
}
