.HomeHeader {
  width: 100%;
}

.Header {
  background: $black;
}

.Header-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  font-size: $baseFontSize;
  font-family: $ff-sans-serif;
  color: $westar;
  padding: $paddingS $paddingM;
  position: relative;
  z-index: 1;
}

.Header-titleText {
  color: $westar;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.HomeHeader-title--part1 {
  display: block;
}

.HomeHeader-title {
  background: $black;
}

.CategoryHeader {
  position: relative;
  background: #4f9bc6;
}

.CategoryHeader-content {
  position: relative;
  z-index: 1;
}

.CategoryHeader-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .4;
}

.Category-headline {
  color: $white;
}

.Category-LabelHeadline {
  color: $white;
  margin-top: $marginS;
}
