@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
:root {
  font-size: $baseFontSize / 16px * 100%; // sets rem base at 14px;
}

body {
  font-family: $ff-serif;
  color: $ironsideGray;
  font-size: rem(14px);
  line-height: $baseLineHeight;
}

p {
  margin: $baseLineHeight 0;
}

.Label {
  font-family: $ff-sans-serif;
  font-size: rem(14px);

  + .Headline {
    margin-top: 0;
  }

}

.Label-headline {
  margin-top: $marginM;
  text-align: center;
  text-transform: uppercase;
  color: $zorba;
  display: block;
  text-decoration: none;
}

.Headline--giga {
  font-size: rem(71px);
  line-height: rem(72px);
}

.Headline-1 {
  font-size: rem(47px);
  line-height: rem(48px);
  margin-top: rem(48px);
  margin-bottom: rem(24px);
  font-weight: normal;
}

.Headline-2 {
  font-size: rem(32px);
  line-height: rem(48px);
  margin-top: rem(48px);
  margin-bottom: rem(24px);
}

.Headline-3 {
  font-size: rem(21px);
  line-height: rem(24px);
  margin-top: rem(24px);
  margin-bottom: rem(24px);
}

.Headline-4 {
  font-size: rem(14px);
  line-height: rem(24px);
  margin-top: rem(24px);
  margin-bottom: rem(24px);
}

.SectionTitle {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: $zorba;
  padding-top: $paddingM;
  font-weight: normal;
  position: relative;
  margin: $marginM 0;

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background: $zorba;
    left: 50%;
    margin-left: -10px;
    top: 0;
  }

}
