.Footer.Row
  .Column.Column-2.Column-small-4
    {% include 'contact-form' %}
  .Column.Column-2.Column-small-4
    #about.Row
      .Column.Column-2.Column-small-4
        .Footer-column
          .Label.Footer-columnHeaderLabel {{ 'About' | translate }}
          %p
            Dominique Broudin
          %p
            {{ site.meta_description  }}
      .Column.Column-2.Column-small-4.Row
        .Footer-column.Column.Column-small-2
          .Label.Footer-columnHeaderLabel {{ 'Category' | translate }}
          %ul.List.Footer-list
            {% for category in contents.categories %}
            %li.List-item
              %a{:href => "/categories/{{ category._slug }}"} {{ category.title }}
            {% endfor %}
        .Footer-column.Column.Column-small-2
          .Label.Footer-columnHeaderLabel Share it
          %ul.List.Footer-list
            %li.List-item
              %a{:href => ""} Facebook
            %li.List-item
              %a{:href => ""} Twitter
            %li.List-item
              %a{:href => ""} Google+
            %li.List-item
              %a{:href => ""} Email
