<li class="MediaItem{% if modifier %} MediaItem--{{modifier}}{% endif %}">
  <a href="" class="MediaItem-Link">
    <img class="MediaItem-Image" src="https://placekitten.com/460/415" alt="">
  </a>
  <a href="" class="MediaItem-Link">
    <div class="MediaItem-Title">John Baldessari</div>
  </a>
  <time class="MediaItem-Date">28 Avril 1915</time>
  <p class="MediaItem-Description">
    <a href="" class="MediaItem-Link">
      Baldessari’s work was central to the growth of Conceptual Art in the 1960s and '70s
    </a>
  </p>
</li>