%li.MediaItem
  %a{:href => "", :class => "MediaItem-Link"}
    %img{:src => "https://placekitten.com/200/180", :alt => "", :class => "MediaItem-Image"}/
  %a{:href => "", :class => "MediaItem-Link"}
    .MediaItem-Title John Baldessari
  %time.MediaItem-Date 28 Avril 1915
  %p.MediaItem-Description
    %a{:href => "", :class => "MediaItem-Link"}
      Baldessari’s work was central to the growth of Conceptual Art in the 1960s and '70s