.Navigation
  %a{:href => "", :class => "Navigation-Link"}
    %span.Navigation-LinkText
      Galerie
  %a{:href => "", :class => "Navigation-Link"}
    %span.Navigation-LinkText
      A Propos
  %a{:href => "", :class => "Navigation-Link"}
    %span.Navigation-LinkText
      Contact
  %a{:href => "", :class => "Navigation-Link"}
    %span.Navigation-LinkText
      Recherche