%nav.Navigation
  %a{:href => "/", :class => "Navigation-Link Navigation-Link--home"}
    %span.Navigation-LinkText
      {{ 'Home' | translate }}
  %a{:href => "/categories", :class => "Navigation-Link Navigation-Link--gallery"}
    %span.Navigation-LinkText
      {{ 'Galery' | translate }}
  %a{:href => "", :class => "Navigation-Link Navigation-Link--press"}
    %span.Navigation-LinkText
      {{ 'Press' | translate }}
  %a{:href => "#about", :class => "Navigation-Link Navigation-Link--about"}
    %span.Navigation-LinkText
      {{ 'About' | translate }}
  %a{:href => "#contact", :class => "Navigation-Link Navigation-Link--contact"}
    %span.Navigation-LinkText
      {{ 'Contact' | translate }}
  %a{:href => "", :class => "Navigation-Link Navigation-Link--search"}
    %span.Navigation-LinkText
      {{ 'Search' | translate }}
