.Container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.Row {
  font-size: 0;
}

.Column {
  display: inline-block;
  min-height: 1px;
  position: relative;
  word-wrap: break-word;
  vertical-align: top;
  font-size: $base-lh;

  &.Row {
    font-size: 0;
  }
}

// Generate columns

@for $i from 1 to ($columnNumber + 1) {
  @each $grid in $grids {
    $classes: join($classes, unquote(".col#{$grid}-#{$i}"), comma);
    @if $i < $columnNumber {
      $cols: join($classes, unquote(".col#{$grid}-#{$i}"), comma);
    }
  }
  .Column-#{$i} {
    width: percentage(( $i / $columnNumber));
    @if $i == 12 {
      float: none;
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  @for $i from 1 to ($columnNumber + 1) {
    @each $grid in $grids {
      $classes: join($classes, unquote(".col#{$grid}-#{$i}"), comma);
      @if $i < $columnNumber {
        $cols: join($classes, unquote(".col#{$grid}-#{$i}"), comma);
      }
    }
    .Column-small-#{$i} {
      width: percentage(( $i / $columnNumber));
      @if $i == 12 {
        float: none;
        width: auto;
      }
    }
  }
}
