.InputGroup {
  display: table;
  border-collapse: separate;
  position: relative;
}

.InputGroup-Input {
  display: table-cell;
  width: 100%;
  float: left;
}

.InputGroup-Addon {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.InputGroup-Addon:last-child {

  .InputGroup-Button {
    border-left: none;
  }

}

.InputGroup-Addon:first-child {

  .InputGroup-Button {
    border-right: none;
  }

}