.MediaItems {
  padding: 0;
  text-align: center;
}

.MediaItem {
  padding: 0 $paddingM;
  margin-bottom: $marginL;
  text-align: left;

  &:hover {
    opacity: .9;
  }
}

.MediaItem--big {
  width: 50%;
}

.MediaItem-Image {
  width: 100%;
  margin-bottom: $marginS;
}

.MediaItem-Link {
  text-decoration: none;
  color: $ironsideGray;
  display: block;

  &:hover {
    color: $steelBlue;
  }
}

.MediaItem-Description {
  margin-top: $marginS;
  margin-bottom: 0;
}
