.Navigation {
  border-bottom: 1px solid $zorba;
  text-align: center;
  background: $white;
  position: relative;
  border-radius: 3px 3px 0 0;
}

.Navigation-Link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0 $paddingS;
  display: inline-block;
  color: $zorba;
  font-size: rem(13px);
}

.Navigation-LinkText {
  padding: $paddingS 0;
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    height: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    background: transparent;
    transition: .1s ease-in-out all;
  }

  &:hover {
    color: $steelBlue;

    &:after {
      height: 3px;
      left: 0;
      right: 0;
      background: $steelBlue;
    }

  }

}

.Navigation-Link--home,
.Navigation-Link--press,
.Navigation-Link--about {
  display: none;
}
