---
title: Home page
published: true
---
!!!
%html{lang: "en"}
  %head
  %meta{charset: "utf-8"}
  %title {{ site.name }}
  %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
  %meta{name: "description", value: "{{ site.meta_description }}"}
  {{ 'style.css' | stylesheet_tag }}
  %body
    {% block header %}
    %header.HomeHeader
      {% include 'searchbar' %}
      %h1.HomeHeader-title.Headline--giga
        %span.HomeHeader-titleText
          {{ site.name }}
      {% include 'navigation' %}
    {% endblock %}
    .Container.Container--fixed
      {% block main %}
      %section.MediaItems-container
        .SectionTitle.Label
          Derniers ajouts
        .row
          %ul.MediaItems
            {% for object in contents.objects limit:2 %}
            {% include 'media-item' with modifier: "big" %}
            {% endfor %}
            {% for object in contents.objects offset:2 %}
            {% include 'media-item' %}
            {% endfor %}
      {% endblock %}
      {% include 'footer' %}