---
title: search
handle: search
# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'index' %}
{% block header %}
%header
  {% include 'searchbar' %}
  {% include 'navigation' %}
{% endblock %}
{% block main %}
{% if params.query == '' or params.query == nil %}
Sorry, no results were found.
{% else %}

{% search_for params.query, per_page: 10, page: params.page %}

{% if result.total_entries == 0 %}
Sorry, no results were found.
{% else %}

{{ search.total_entries }} elements found.
{% for result in search.results %}
%a{:href => "/{{result.fullpath}}"}
  {{ result.title }}
{{ result.highlighted.searchable_content }}

{% endfor %}
{% if search.total_pages > params.page %}
%a{:href => "?page={{ params.page | plus: 1 }}&query={{ params.query }}"}
  Next page
{% endif %}

{% endif %}

{% endsearch_for %}


{% endif %}
{% endblock %}