---
title: Category template page
content_type: "categories"
---
{% extends 'index' %}
{% block header %}
%header.Header.CategoryHeader
  .CategoryHeader-image{:style => "background-image: url('http://placekitten.com/360/180');"}
  .CategoryHeader-content
    %h1.Header-title
      %a.Header-titleText{:href => "/"}
        {{ site.name }}
    {% include 'searchbar' %}
    .Label.Label-headline.Category-LabelHeadline
      {{ 'Category' | translate }}
    %h1.Category-headline.Headline.Headline-2.u-tac
      {{ category.title }}
  {% include 'navigation' %}
{% endblock %}
{% block main %}
.Row.u-mt--l
  {% if category.objects == empty %}
  %p.u-tac.u-mb--xxl.Column.Column-4
    Nothing here
  {% else %}
  %ul.MediaItems
    {% for object in category.objects %}
    {% include 'media-item' %}
    {% endfor %}
  {% endif %}
{% endblock %}
