---
title: Category template page
content_type: "categories"
---
{% extends 'index' %}
{% block header %}
%header
  .InputGroup.SearchForm
    {% include 'input' with type: "text", placeholder: 'Rerchercher un objet en particulier', class: 'InputGroup-Input' %}
    .InputGroup-addOn
      {% include 'button' with value: 'Rechercher', class: 'InputGroup-Button' %}
  {% include 'navigation' %}
{% endblock %}
{% block main %}
%h1.Headline.Headline-1.u-tac.u-mb--xxl
  {{ category.title }}
.row.u-mt--l
  {% if category.objects == empty %}
  %p.u-tac.u-mb--xxl
    Nothing here
  {% else %}
  %ul.MediaItems
    {% for object in category.objects %}
    {% include 'media-item' %}
    {% endfor %}
  {% endif %}
{% endblock %}