---
title: Event template page
content_type: "objects"
---
{% extends 'index' %}
{% block header %}
%header.Header.ObjectHeader
  .ObjectHeader-image{:style => "background-image: url('http://placekitten.com/360/180');"}
  .ObjectHeader-content
    {% include 'searchbar'  %}
  {% include 'navigation' %}
{% endblock %}
{% block main %}
%a.Label.Label-headline{:href => "/categories/{{ object.category._slug }}"}
  {{ object.category.title }}
%h1.Headline.Headline-1.Article-Headline.u-tac
  {{ object.title }}
.Row.Article
  .Column.Column-2.Column-small-4.Article-text
    .Date.u-mb--m
      {{ object.date | localized_date: '%m/%d/%Y' }}
    .Description.u-mb--m
      {{ object.description }}
    .Text
      {{ object.body }}
  .Column.Column-2.Column-small-4.Article-media
    %img.MediaItem-Image{:src => "{{ object.photo.url }}", :alt => ""}/

{% endblock %}
