---
title: Event template page
content_type: "objects"
---
{% extends 'index' %}
{% block header %}
%header
  .InputGroup.SearchForm
    {% include 'input' with type: "text", placeholder: 'Rerchercher un objet en particulier', class: 'InputGroup-Input' %}
    .InputGroup-addOn
      {% include 'button' with value: 'Rechercher', class: 'InputGroup-Button' %}
  {% include 'navigation' %}
{% endblock %}
{% block main %}
%a.Label.Label-headline{:href => "/categories/{{ object.category._slug }}"}
  {{ object.category.title }}
%h1.Headline.Headline-1.u-tac.u-mb--xxl
  {{ object.title }}
.row.Article
  .c.c-2
    .Date.u-mb--m
      {{ object.date | localized_date: '%m/%d/%Y' }}
    .Description.u-mb--m
      {{ object.description }}
    .Text
      {{ object.body }}
  .c.c-2
    %img.MediaItem-Image{:src => "{{ object.photo.url }}", :alt => ""}/

{% endblock %}