// clear floats

.u-cf {
  @include cf();
}

.u-tac {
  text-align: center;
}

.u-tar {
  text-align: right;
}

.u-bloc {
  display: block;
}

.u-ttu {
  text-transform: uppercase;
}

.u-mb--m {
  margin-bottom: $baseLineHeight;
}

.u-mb--xxl {
  margin-bottom: $marginXXL;
}

.u-mt--l {
  margin-top: $marginL;
}

.u-mt {
  margin-top: $marginM;
}